#skillDamageContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

#skillDamageDataForm {
    background-color: rgba(255, 255, 255, 0.842);
    width: 50%;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.field > input, .field > select{
    margin-bottom: 10px;
}

.splitLine {
    margin-left: 10px;
    margin-right: 10px;
}

#notification {
    color: red;
    float: right;
}

.fieldTitle {
    width: 30%;
}

.fieldTitle:hover {
    color: blue;
}

.fieldTitle:active {
    text-decoration: underline;
}

#skillDamagebuttonGroup {
    position: relative;
    float: right;
    margin-bottom: 5px;
}

#tableContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 3px black solid;
}

#skillDamageTable {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-collapse: collapse;
}

#skillDamageTable td{
    border: 2px solid black;
    width: 70px;
}