#skillDamageContainer {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

@media screen and (min-height: 800px) {
    #skillDamageContainer {
        height: auto;
    }
}

#skillDamageDataForm {
    background-color: rgba(255, 255, 255, 0.842);
    width: 60%;
    height: 100%;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 900px) {
    #skillDamageDataForm {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #skillDamageDataForm {
        width: 90%;
    }
}

.fieldRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-left: 5%;
}

.fieldBlock {
    width: 50%;
}

.field > input, .field > select{
    margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
    .fieldRow{
        flex-direction: column;
        align-items: center;
    }

    .fieldBlock {
        margin: 3px;
    }
}

.splitLine {
    margin-left: 10px;
}

#notification {
    color: red;
    float: right;
}

@media screen and (max-width: 400px) {
    #notification {
        float: none;
    }
}

.fieldTitle {
    width: 40%;
}

#skillDamagebuttonGroup {
    float: right;
}

#tableContainer {
    justify-content: center;
    text-align: center;
    border-top: 3px black solid;
    overflow-x: auto;
}

#skillDamageTable {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* 平分td的寬度 */
}

@media screen and (max-width: 1000px) {
    #skillDamageTable {
        width: 150%;
    }
}

@media screen and (max-width: 600px) {
    #skillDamageTable {
        width: 180%;
    }
}

@media screen and (max-width: 450px) {
    #skillDamageTable {
        width: 210%;
    }
}

@media screen and (max-width: 350px) {
    #skillDamageTable {
        width: 300%;
    }
}

#skillDamageTable td{
    border: 2px solid black;
}