#specialArtCalculateContainer {
    position: relative;
    top: 20%;
    overflow-x: auto; /* 讓table可以橫向滾動 */
    background-color: rgba(255, 255, 255, 0.795);
}

#specialArtCalculateTable {
    border-radius: 5px;
    font-size: 20px;
    width: 100%; /* 把table撐開才可以把按鈕擠去下面 */
}

td > input, td > select {
    font-size: 18px;
}

#buttonGroup {
    position: fixed;
    margin-top: 3px;
    right: 0;
}

#calculate, #clear {
    font-size: 25px;
    margin-right: 3px;
    background-color: #fff;
    border: 3px solid white;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
}

#calculate:hover, #clear:hover {
    background-color: rgb(240, 240, 240);
    border-color: rgb(240, 240, 240);
    color: blue;
}

#calculate:active, #clear:active {
    border-color: blue;
}